.wrapper {
  width: 100%;
  height: 60px;
  color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  background: var(--blue);
  z-index: 10;
  h1 {
    font-size: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
  }
  .divider {
    width: 2px;
    height: 75%;
    background: #ccc;
    margin-left: 5px;
    margin-right: -20px;
    border-radius: 10px;
  }
  ul {
    display: flex;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      list-style: none;
      margin: 0 10px;
    }
    &:last-child {
      position: absolute;
      right: 20px;
      li {
        &:first-child {
          margin-right: 0px;
        }
        a,
        svg {
          font-size: 1.8rem;
          cursor: pointer;
        }
      }
    }
  }
}

.opacity {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.modal {
  height: 100vh;
  position: fixed;
  bottom: 0;
  background: #fff;
  z-index: 100;
  left: 32.5%;
  padding-top: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #ededed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .header {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
    h4,
    span {
      margin: 2px;
      opacity: 0.7;
    }
  }
  .options {
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin: 2px 0;
      div {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
        &:hover {
          background: #ddd;
        }
        svg {
          margin-right: 5px;
          font-size: 1.2rem;
        }
      }
    }
  }
  .pc {
    width: 100%;
    height: 10%;
    background: #00000038;
  }
}
